* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    margin-left: 200px;
    margin-right: 200px;
}

header {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    height: 400px;
    gap: 0px;
}

header nav {
    grid-area: nav;
    grid-row: 1 / 2;      /* from 1st row till 1st row */
  grid-column: 1 / 5;   /* from 1st column till 4 column */
    background-color: palevioletred;
}

header h2 {
    grid-area: title;
    grid-row: 2 / 3;      /* from 2nd row till 2nd row */
  grid-column: 1 / 5;   /* from 1st column till 4 column */
    background-color: #74aa98;
}

header section {
    grid-area: section;
    grid-row: 3 / 4;      /* from 3rd row till 3rd row */
    grid-column: 1 / 3;   /* from 1st column till 2nd column */
    background-color: #587958;
}
  
header aside {
    grid-area: aside;
    grid-row: 3 / 4;      /* from 3rd row till 3rd row */
    grid-column: 3/ 5;   /* from 3rd column till 4th column */
    background-color: #c49f68;
}

article {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 50% 50%;
    height: 600px;
    gap: 0px;
}

.section1{
    background-color: green;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

.section2{
    background-color: red;
    grid-row: 1 / 3;
    grid-column: 3 / 4;
}

.section3{
    background-color: blue;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.section4{
    background-color: yellow;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

p
{
    padding: 10px;
    margin: 10px;
    background-color: #894ca3;
}